body {
	padding-top: 17vh;
	background-color: #e2e9f5;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
	text-align: center;
	color: #fff;
	padding-top: 7.5vmin;
}

.com-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3.75em;
	text-align: center;
	color: #3498DB;
}

.com-subtitle {
	font-weight: 400;
	font-size: 2em;
}

.com-h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.9em;
}

.com-h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 1vh;
	margin-left: 1%;
}

.com-topic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.125em;
	margin-top: 1vh;
	margin-left: 4%;
}

.com-desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-size: 1.125em;
	line-height: 3.5vh;
}

.com-p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1.05em;
}

.title-only {
	font-size: 3em;
}

.special-summit {
	font-size: 2.5em;
}

.electoral-assembly {
	font-size: 2.0em;
}

.sub-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.95em;
	text-align: center;
	color: #fff;
}

.border {
	height: 25vh;
	margin-top: 1vh;
	margin: 1vh -4% 0 0;
}

.zoom {
	background-size: 120% 120%;
	-webkit-transition: background-size 500ms ease;
	-moz-transition: background-size 500ms ease;
	-o-transition: background-size 500ms ease;
	transition: background-size 500ms ease;
}

.unzoom {
	background-size: 100% 100%;
	-webkit-transition: background-size 500ms ease;
	-moz-transition: background-size 500ms ease;
	-o-transition: background-size 500ms ease;
	transition: background-size 500ms ease;
}

.ga1 {
	background-image: url(../Resources/confroom.png);
	background-repeat: no-repeat;
	/*	background-size: 100% 100%;*/

	border: 1px solid #AAA;
	border-bottom: 3px solid #BBB;
	overflow: hidden;
}

.background-image {
	background-size: cover;
	height: 45vh;
}

.inRow-margin {
	margin-top: 5vh;
}


.desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-align: justify;
	padding: 8% 7% 5% 7%;
	color: #fff;
}

th,
td {
	text-align: center;
}

.page {
	background-color: #FFFBFA;
/*	border: 1px solid #BBB;*/
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-right: 5vh;
	padding-left: 5vh;
}

.spacer{
	margin: 3vh;
}
