h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
	text-align: center;
	margin: 3% 0 4% 0;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	text-align: center;
	color: #fff;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: .85em;
	text-align: center;
	color: #fff;
}

.padding {
	padding: 7% 0 7% 0;
}

.padding-only-title {
	padding: 10.35% 0 10.35% 0;
}

.margin-inRow {
	margin: 3% 0 3% 0;
}

.border {
	border-color: #22A7F0;
	border-style: none;
	margin: 3% 0 3% 0;
}

.ga1 {
	background-image: url(../Resources/confroom.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.zoom {
	background-size: 120%;
	-webkit-transition: background-size 500ms ease;
	-moz-transition: background-size 500ms ease;
	-o-transition: background-size 500ms ease;
	transition: background-size 500ms ease;
}
.unzoom {
	background-size: 100%;
	-webkit-transition: background-size 500ms ease;
	-moz-transition: background-size 500ms ease;
	-o-transition: background-size 500ms ease;
	transition: background-size 500ms ease;
}
/*Font-sizes*/

.ssot-Mtext {
	font-size: 2em;
}

.eads-Mtext {
	font-size: 1.85em;
}

