body {
	padding-top: 100px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
	text-align: center;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
	text-align: center;
	color: #fff;
	padding-top: 7.5vmin;
}

.com-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 3.75em;
	text-align: center;
}

.com-subtitle {
	font-weight: 400;
	font-size: 2em;
}

.com-h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.9em;
}
.com-h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	margin-top: 1vh;
	margin-left: 1%;
}
.com-topic{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.125em;
	margin-top: 1vh;
	margin-left: 2%;
}
.com-desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-size: 1.125em;
}

.com-p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1.05em;
}

.title-only {
	font-size: 3em;
}

.special-summit {
	font-size: 2.5em;
}

.electoral-assembly {
	font-size: 2.0em;
}

.sub-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.95em;
	text-align: center;
	color: #fff;
}

.border {
	height: 25vh;
	margin-top: 1vh;
	margin: 1vh -4% 0 0;
}

.zoom {
	background-size: 120% 120%;
	-webkit-transition: background-size 500ms ease;
	-moz-transition: background-size 500ms ease;
	-o-transition: background-size 500ms ease;
	transition: background-size 500ms ease;
}

.unzoom {
	background-size: 100% 100%;
	-webkit-transition: background-size 500ms ease;
	-moz-transition: background-size 500ms ease;
	-o-transition: background-size 500ms ease;
	transition: background-size 500ms ease;
}

.ga1 {
	background-image: url(../Resources/confroom.png);
	background-repeat: no-repeat;
	/*	background-size: 100% 100%;*/
}

.background-image {
	background-size: cover;
	height: 45vh;
}

.inRow-margin {
	margin-top: 5vh;
}

span {
	display: none;
}

.desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-align: justify;
	padding: 8% 7% 5% 7%;
	color: #fff;
}
